{% extends 'docapp/base.html' %}
{% load define_action %}
{% load crispy_forms_tags %}
{% block title %}Appointment{% endblock %}

{% block body %}
    <div class="container">
    <h4>Doctor : {{ doctor.firstname }} {{ doctor.lastname }}</h4>
    <h4>Select a time slot to book appointment</h4><br>

    {% if form.errors %}
        <p style="color:red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    {% if error %}
        <h4 style="color:red;">
            {{ error }}
        </h4>
    {% endif %}

    <form action="{% url 'docapp:appbooking' pk=doctor.id %}" method="post">

        {% csrf_token %}
        {{ form|crispy }}
        <br><br><button type="submit" class="btn btn-primary">Confirm Appointment</button>
    </form>
    </div>


{% endblock %}

