{% extends 'docapp/base.html' %}
{% load define_action %}

{% block title %}Doctor Details{% endblock %}

{% block body %}
    <h4>{{ doctor.firstname }}</h4>
    <h4>Select a time slot to book appointment</h4>


    <!--
    <form action="docapp/confirm.html">
        <div class="container">
            <div class="col-xs-3">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" placeholder="Select Date" id="date" name="date" value="">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
            <div><br><br>
                <p><i class='fas fa-cloud-sun' ></i> Morning &nbsp;</p>
                <div class="radio">
                    <label><input type="radio" name="slot" checked>{# {{ appbook.slot1 } #}}</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="slot" checked>{# {{ appbook.slot2 } #}</label>
                </div>
                <br><i class='fas fa-sun' ></i> Afternoon &nbsp;
                <br><i class='fas fa-moon' ></i> Evening &nbsp;
                <br><i class='fas fa-cloud-moon' ></i> Night &nbsp;
            </div>
        </div>
    </form>
    <br>

-->

    <div class="container">

            <form name ="form" action="{% url 'appbooking' pk=doctor.id %}" method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-4">

                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" placeholder="Select Date" id="date" name="date" value="">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Time:</label>
                            <input type="time" class="form-control" id="time" placeholder="Select Time" name="time">
                        </div>
                        <div class="form-group">
                            <label for="name">Patient's Name:</label>
                            <input type="text" class="form-control" id="fullname" placeholder="Enter Full name" name="fullname">
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>

                    </div>
                </div>
                <h4>Consultion Fees:&nbsp;<i class="fa fa-rupee"></i></h4>

                <button type="submit" class="btn btn-primary">Confirm Appointment</button><br>

            </form>

    </div>

     <script type="text/javascript">

        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $('.datepicker').datepicker({
            startDate: Date(),
            default:Date(),
            todayHighlight: true,
            autoclose: true,
        })

     </script>

{% endblock %}

