{% extends 'docapp/base.html' %}

{% block title %}Doctor Details{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <center>
            <div class="well"><h3> Thank you {{ name }} for booking appointment.</h3><br></div>
            <div style="font-size: 25px">
                <b><p>Appointment Details:</p></b>
            </div>
            <div style="font-size: 18px"><p>Doctor : {{ doctor.firstname }} {{ doctor.lastname }}</p>
                <p>Time : {{ time }}</p>
                <p>Date : {{ date }}</p>
            </div>

            <form action="{% url 'docapp:delete' appid %}" method="post">
                <button type="submit" class="btn btn-primary">Cancel Appointment</button>
            </form>

            {% if msg %}
                <h3>msg</h3>
            {% endif %}
        </center>
    </div>

{% endblock %}