{% extends 'med/base.html' %}


{% block body %}
    <div class="bg-1 text-center">
    <br><br><br>
    <br>
        <div style="font-family: Satisfy"><h3>Medical Services You Can Trust 100%</h3></div>
        <img src="https://img.freepik.com/free-vector/medicine-flat-design_1212-670.jpg?size=338&ext=jpg" class="img-circle" >
        <h3>Discover Quickwell</h3>
    </div>
    <br>

        {% for medicine in all_medicines %}
                <div class="col-sm-4 col-lg-4 container">
                  <div class="panel panel-default text-center" >
                    <div class="panel-heading" style="background-color: lightblue">
                      <h2>{{ medicine.name }}</h2>
                    </div>
                    <div class="panel-body">
                      <img src="{{ medicine.description }}" width="250px" height="250px">
                        <ul>
                            <li type="disc"><h5 style="font-weight: bold">Pharmacy - {{ medicine.pharmacy }}</h5></li>
                            <li type="disc"><h5 style="font-weight: bold">Price - {{ medicine.price }}</h5></li>
                        <li type="disc"><h5 style="font-weight: bold">Prescription :
                            {% if medicine.pres_req == "yes" %}
                                Required
                                {% else%}
                                Not Required</h5></li>
                            {% endif %}
                            <li type="disc"><h5 style="font-weight: bold"><a href="{{ medicine.about }}" target="_blank">Click here to read about {{ medicine.name }}</a></h5></li>
                        </ul>
                    </div>
                    <div class="panel-footer">

                            <form action="{% url 'med:add_to_cart' medicine.id %}">
                            <input type="number" name ="quantity" value="" required placeholder="Enter Quantity" min="0">
                            <!--<span class="glyphicon glyphicon-shopping-cart">--><button type="submit" >Add to Cart</button><!-- </span>-->
                            </form>

                    </div>
                  </div>
                </div>
        {% endfor %}



{% endblock %}


