{% extends 'med/base.html' %}

{% block body %}
<div class="container">
<br><br>
    <h3>User name : {{ request.user }}</h3>
    <h3>Your Brought:</h3>
    <br><br>
<section>
   <div class="row" style="padding-left: 50px;padding-right: 50px">
    <table class="table table-hover table-bordered text-center" >
      <tr class="text-center">
        <th class="text-center">Date ordered</th>
        <th class="text-center">Medicine</th>
        <th class="text-center">Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Prescription Required</th>
         </tr>
{#      {% for item in order.get_cart_items %}#}
        {% for itemno in order %}
            {% for item in itemno.get_cart_items %}

        <tr>
          <td>{{ itemno.date_ordered }}</td>
          <td>
            {{ item.medicine.name }}
          </td>
          <td>{{ item.medicine.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.medicine.pres_req }}</td>
        </tr>
        {% empty %}

      {% endfor %}
    {% endfor %}

    <tr>
        <td colspan=1 >
          <a href="{% url 'med:index' %}" class="btn btn-warning pull-left btn-success active">
            Wanna Shop some more?

          </a>
        </td>
        <td colspan=4>
            Thanks for purchasing
        </td>
      </tr>
    </table>
   </div>
 </section>
</div>
    <br>
{% endblock %}
