
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
       <div>

<div>
  <h2>Doctor name</h2>
  {% if doc %}
  {% for k in doc %}
<div class="jumbotron">
{{k.firstname}}{{ k.lastname }}
{% endfor %}
{% endif %}
</div>


<div>
  {% if rating%}
  {% for k in rating %}
<div class="jumbotron">
{{k.rating__avg}}
{% endfor %}
{% endif %}
</div>


<div>
  {% if comment%}
  {% for k in comment %}
<div class="jumbotron">
{{k.comment}}
 {% endfor %}
 {% endif %}
</div>


</div>
  </body>
</html>

