{% load static %}
<html lang="en" dir="ltr">
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/mystyle.css" %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<div class = "container" >
	<form method="POST">
		{% csrf_token %}
		doc_id: {{form.doc_id}}<br><br>
		Is anonymous: {{form.is_anonymous}}<br><br>
		wait_time_rating[/5]: {{ form.wait_time_rating }}<br><br>
		manner_rating[/5]: {{ form.manner_rating }}  <br><br>
		  <br><br>
		is_doc_recommended: {{  form.is_doc_recommended }}<br><br>
		review_date: {{  form.review_date }}  <br><br>
        Comment: {{ form.comment }}<br><br>
		Rating:
		<div class="star-rating">
			<input id="star-5" type="radio" name="rating" value="5">
			<label for="star-5" title="5 stars">
				<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-4" type="radio" name="rating" value="4">
			<label for="star-4" title="4 stars">
				<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-3" type="radio" name="rating" value="3">
			<label for="star-3" title="3 stars">
				<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-2" type="radio" name="rating" value="2">
			<label for="star-2" title="2 stars">
				<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
			<input id="star-1" type="radio" name="rating" value="1">
			<label for="star-1" title="1 star">
				<i class="active fa fa-star" aria-hidden="true"></i>
			</label>
		</div>

		<input type="submit">
	</form>
</div>
</body>
</html>
