{% extends 'profile/header.html' %}
{% block content %}
<div  class="col-sm-8" style="color:black ">
	<form method="POST">
		{% csrf_token %}
		<!--<input id="hello" type="text" class="datepicker">-->
	<!--<label for="hello" class>hello</label>-->
		<h2>Change Password</h2><br><br>
	<!--<hr style="border-color:#f4c613">-->
		<span>Old Password:</span>
	<!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
		{{change_form.old_password}}<br>
	{{change_form.old_password.errors}}<br>-->
		<span>New Password:</span>
		<!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
		{{change_form.new_password1}}
	<br>{{change_form.new_password1.errors}}<br>-->
		<span>Confirm New Password:</span>{{change_form.new_password2}}<br>
	<{{change_form.new_password2.errors}}<br>-->
		<button class='btn-general btn-profile' type="submit">change</button>

		<div class="row">
    <!--&lt;!&ndash;<div class="col s12">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="input-field col s12">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<i class="material-icons prefix"></i>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" id="autocomplete-input" class="autocomplete">&ndash;&gt;-->
          <!--&lt;!&ndash;<label for="autocomplete-input">Autocomplete</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  </div>

	</form>
</div>
{% endblock %}