{% extends 'profile/header.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <span style="color: #f4c613">FirstName  :</span>
            {{doc_form.firstname}}<br><br>
            <span style="color: #f4c613">LastName   :</span>
            {{doc_form.lastname}}<br><br>
            <span style="color: #f4c613">Experience:</span>
            {{doc_form.experience}}<br><br>
            <span style="color: #f4c613">doc_photo:</span>
            {{doc_form.doc_photo}}<br><br>
            <span style="color: #f4c613">Specialization:</span>
            {{doc_form.specialization}}<br><br>
            <span style="color: #f4c613">Fee:</span>
            {{doc_form.fee}}<br><br>
            <span style="color: #f4c613">Hospital Tied up with:</span>
            {{doc_form.hospital}}<br><br>
            <span style="color: #f4c613">Specializatiaddress:</span>
            {{doc_form.address}}<br><br>
            <button class='btn-general btn-profile' class="reg" type="submit">Update</button><br><br>
    </form>

				<!--</form>-->
				<!--{% if request.user.student %}-->
				<!--<button class='btn-general btn-profile'><a style="text-decoration: none;" href="{% url 'result:changepassword'%}">CHANGE PASSWORD</a></button>-->
				<!--{% endif %}-->
{% endblock %}