{% extends 'profile/header.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="color: black">
            <span>FirstName  :</span>
            {{doc_form.firstname}}<br><br>
            <span>LastName   :</span>
            {{doc_form.lastname}}<br><br>
            <span>Experience:</span>
            {{doc_form.experience}}<br><br>
            <span>doc_photo:</span>
            {{doc_form.doc_photo}}<br><br>
            <span>Specialization:</span>
            {{doc_form.specialization}}<br><br>
            <span>Fee:</span>
            {{doc_form.fee}}<br><br>
            <span>Hospital Tied up with:</span>
            {{doc_form.hospital}}<br><br>
            <span>address:</span>
            {{doc_form.address}}<br><br>
            <button class='btn-general btn-profile' class="reg" type="submit">Update</button><br><br>
                    </div>
    </form>

				<!--</form>-->
				<!--{% if request.user.student %}-->
				<!--<button class='btn-general btn-profile'><a style="text-decoration: none;" href="{% url 'result:changepassword'%}">CHANGE PASSWORD</a></button>-->
				<!--{% endif %}-->
{% endblock %}