{% extends 'docapp/base.html' %}

{% block title %}Labtests Details{% endblock %}

{% block body %}

    {% if lab.lab_photo %}
        <img src={{ lab.lab_photo }}/>
    {% else %}
        <img src="https://foodsafetynewsfullservice.marlersites.com/files/2016/04/laboratorytesting-406.jpg" height="150" width="150"/>
    {% endif %}

    <p>Test Name: {{ test.test_name }}</p>
    <p>Lab name: {{ lab.lab_name }}</p>
    <p>Procedure : {{ test.procedure }}</p>
    <p>Preparation : {{ test.preparation }}</p>
    <p>Cost : <i class="fa fa-rupee"></i> {{ test.cost }}</p>

{% endblock %}