{% extends 'labtest/base.html' %}

{% block title %}Labtests Details{% endblock %}

{% block body %}

    <div class="container">
        <br><br>
        {% if lab.lab_photo %}
            <img src={{ lab.lab_photo }}/>
        {% else %}
            <img src="https://foodsafetynewsfullservice.marlersites.com/files/2016/04/laboratorytesting-406.jpg" height="200" width="200"/>
        {% endif %}

        <div style="font-size: 20px">
            <p><b>Test Name :</b> {{ test.test_name }}</p>
            <p><b>Lab name : </b>{{ lab.lab_name }}</p>
            <p><b>Procedure :</b> {{ test.procedure }}</p>
            <p><b>Preparation : </b>{{ test.preparation }}</p>
            <p><b>Cost : </b><i class="fa fa-rupee"></i> {{ test.cost }}</p>
        </div>
    </div>
{% endblock %}