<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  class="col-sm-8" style="color:#f4c613 ">
	<form  method="POST">
		{% csrf_token %}
		<h4>ChangePassword</h4><hr style="border-color:#f4c613">
		<span>Old Password:</span>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{{change_form.old_password}}<br>{{change_form.old_password.errors}}<br>
		<span>New Password:</span>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		{{change_form.new_password1}}<br>{{change_form.new_password1.errors}}<br>
		<span>Confirm New Password:</span>{{change_form.new_password2}}<br>{{change_form.new_password2.errors}}<br>
		<button class='btn-general btn-profile' type="submit">change</button>
	</form>
</div>
</body>
</html>