<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors Signup</title>
    <style>
        body  {
            background-image: url("http://healthplansonline.com/images/health/stethoscope_background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #2aabd2;
        }
        .transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
}

</style>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div><center>    <h1>Register here if you are a doctor</h1></center>

    <div class="transbox">
   <center> <p>{% for field in user_form %}
    {{ field.label_tag }}<br>
    {{ field }}<br>
    {% endfor %}</p>
     <p>{% for field in profile_form %}
    {{ field.label_tag }}<br>
    {{ field }}<br>
    {% endfor %}</p>
        <button type="submit">SignUp</button>
    <!--       {{ user_form }}
        {{ profile_form }}
    <input type="submit" value="Signup"> </center>--></center></div>
    </div>

</form>
</body>
</html>