
{% load ads_tags %}

<!DOCTYPE html>
{% load ads_tags %}
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">

    <!--Import Google Icon Font-->
           <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>online doctor consultany</title>
    <style>
      </style>
    <script>
    MyBanners=new Array('banner1.jpg','banner2.jpg')
    MyBannerLinks=new Array('vbtutor.net/','excelvbatutor.com/')
    banner=0
    function ShowLinks(){
    document.location.href="http://www."+MyBannerLinks[banner]
    }function ShowBanners()
    { if (document.images)
    { banner++
    if (banner==MyBanners.length) {
    banner=0}
    document.ChangeBanner.src=MyBanners[banner]
    setTimeout("ShowBanners()",5000)
    }
    }
    </script>

  </head>
  <body  onload="ShowBanners()">

  <center
  {% render_ads_zone 'content' %}
  </center>
    <center>
    <a href="javascript: ShowLinks()">
    <img src="banner1.jpg" width="900" height="120" name="ChangeBanner"/></a>
    </center>

      <div class="container">
          <h2>
            Chat with our Doctors
          </h2>
          <ul class="collection with-header">

            <li class="collection-header">
              <h4>Departments</h4>
            </li>

          <li class="collection-item avatar">
            <a href="" class=""><i class="material-icons  circle blue">person</i></a>
            <span class="title">ENT</span><br>
            <a href=" http://127.0.0.1:8000/chat/ENT/">click here</a>
          </li>
            <li class="collection-item avatar">
              <a href="" class=""><i class="material-icons  circle blue">person</i></a>
                <span class="title">Pathology</span><br>
                <a href=" http://127.0.0.1:8000/chat/Pathology/">click here</a>
            </li>
            <li class="collection-item avatar">
              <a href="" class=""><i class="material-icons  circle blue">person</i></a>
              <span class="title">Cardiology</span><br>
              <a href=" http://127.0.0.1:8000/chat/Cardiology/">click here</a>
            </li>
            <li class="collection-item avatar">
              <a href="" class="">
                <i class="material-icons circle blue">person</i>
              </a>
              <span class="title">Dental</span><br>
              <a href=" http://127.0.0.1:8000/chat/Dental/">click here</a>
            </li>
            <li class="collection-item avatar">
              <a href="" class="">
                <i class="material-icons circle blue">person</i>
              </a>
              <span class="title">Psychiatry</span><br>
              <a href=" http://127.0.0.1:8000/chat/Psychiatry/">click here</a>
            </li>
            <li class="collection-item avatar">
              <a href="" class="">
                <i class="material-icons circle blue">person</i>
              </a>
              <span class="title">Neurology</span><br>
              <a href=" http://127.0.0.1:8000/chat/Neurology/">click here</a>
            </li>
          </ul>
      </div>
  </body>
</html>
